body{
    background-image: url(../images/pic.jpg);
    background-size: cover;
    background-position: center;
    
}
#login-box{
    position: relative;
    margin: 2% auto;
    height: auto;
    width: 600px;
    background:white;
    background-image: url(../images/pic.jpg);
    background-size: cover;
    box-shadow: 0 2px 4px rgb(12, 12, 12);
    text-align: center;
}

h1{
    text-align: center;
    font-family: Comic Sans MS;
    margin: 0 0 20px 0;
    font-size: 50px;
}
h2{
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 32px;
        font-family: Arial;
        color: rgb(0, 0, 0);
}
h3{
    margin: 0 0 20px 0;
    text-align: end;
    font-weight: 500;
    font-size: 14px;
    font-family: Arial;
    color: rgb(14, 22, 111);
}
input[type="text"],
input[type="password"]
{
    text-align: start;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: transparent;
    box-shadow: 0 5px 5px  rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS;

}
label[for="uname"],
label[for="pwd"]
{
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
}
select{
    font-family: Comic Sans MS;
    text-align: center;
    margin-bottom: 15px;
    width: auto;
    height: auto;
}
input[type="submit"]
{
    width: 100%;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font: bold;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
    background-color: #efdbd5;
    transition: 0.3s ease;
}
